@model List<HookahViewModel>

<div class="hookah-container">
    @foreach (var hookah in Model)
    {
        <div class="hookah-information">
            <div class="model name">
                <div>
                    <h5>Название модели</h5>
                </div>
                @hookah.Name
            </div>
            <div class="material">
                <h5>Материал изготовления</h5>
                @hookah.Material
            </div>
            <div class="mnufacturer">
                <h5>Страна производитель</h5>
                @hookah.ManufacturerCountry
            </div>
            <div class="priceHookah">
                <h5>Стоимость</h5>
                @String.Format("{0:C}", hookah.Price)
            </div>
            <div class="Discribe">
                @hookah.Discription
            </div>
        </div>

        <figure class="image-container">
            <img src="@hookah.Url" />
        </figure>
    }
</div>

<div class="video-container">
    <div class="video-title">
        <h5>Новое видео Антона Птушкина</h5>
    </div>

    <div class="src-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BNdJaetPrlg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>

    </div>
</div>
