@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Profile";
    int count = 1;
}
@model HousingOwnerDto
<div class="container emp-profile">
        <div class="row">
            <div class="col-md-2">
                <div class="profile-img">
                    <img src="@Model.User.AvatarUrl"/>
                </div>
            </div>
            <div class="col-md-10">
                <div class="profile-head">
                    <h5>
                        @Model.User.Login
                    </h5>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Обо мне</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="myhouses-tab" data-toggle="tab" href="#myhouses" role="tab" aria-controls="myhouses" aria-selected="false">Моя недвижимость</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="livingplace-tab" data-toggle="tab" href="#livingplace" role="tab" aria-controls="livingplace" aria-selected="false">Место проживания</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Добавить недвижимость</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="cart-tab" data-toggle="tab" href="#cart" role="tab" aria-controls="cart" aria-selected="false">Избранное</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="ownerRequests-tab" data-toggle="tab" href="#ownerRequests" role="tab" aria-controls="ownerRequests" aria-selected="false">Запросы на покупку</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="residentRequests-tab" data-toggle="tab" href="#residentRequests" role="tab" aria-controls="residentRequests" aria-selected="false">Запросы на жительство</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <span class="badge badge-danger">@ViewBag.BalanceErrorMessage</span>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Имя пользователя:</label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.User.Login</p>
                            </div>
                            <div class="col-md-8">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Баланс кошелька:</label>
                            </div>
                            <div class="col-md-2">
                                <p>@Model.Balance KZT</p>
                            </div>
                            <div class="col-md-8">
                                <form class="updatebalance-form" method="post" action="/Housing/Profile/id=@Model.Id/update/balance">
                                    <div class="row">
                                        <button type="button" class="btn btn-success d-block col-md-3 updateBalanceBtn">Пополнить баланс</button>
                                        <div class="updateBalance col-md-9 row">
                                            <div class="form-row col-md-8">
                                                <input type="number" class="form-control" name="balance" />
                                            </div>
                                            <div class="col-md-1"></div>
                                            <button type="submit" class="btn d-block col-md-3 btn-primary">Отправить</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        @await Html.PartialAsync("AddHouse", new HouseDto())
                    </div>
                    <div class="tab-pane fade" id="myhouses" role="tabpanel" aria-labelledby="profile-tab">
                        <h3 class="text-danger">@ViewBag.DeleteHouseErrorMessage</h3>
                        @foreach (var house in Model.Houses)
                        {
                            <div class="card">
                                <h5 class="card-header">@count</h5>
                                <div class="card-body">
                                    <form style="text-align: right;" method="post" action="/Housing/Houses/id=@house.HouseId/delete">
                                        <button type="submit" class="btn btn-outline-danger"><i style="font-size: 30px;" class="fa">&#xf014;</i></button>
                                    </form>
                                    @{ if (house.IsSelling)
                                        {
                                            <div class="row">
                                                <p class="text-success d-block col-md-3">Выставлен на продажу</p>
                                                <form method="post" action="/Housing/Houses/id=@house.HouseId/ownerId=@house.OwnerId/status=false" class="col-md-3">
                                                    <button class="btn btn-warning btn-sm">Убрать из продажи</button>
                                                </form>
                                                <div class="col-md-6"></div>
                                            </div>
                                        }
                                        else
                                        {
                                            <form method="post" action="/Housing/Houses/id=@house.HouseId/ownerId=@house.OwnerId/status=true">
                                                <button class="btn btn-warning btn-sm">Выставить на продажу</button>
                                            </form>
                                        }
                                    }
                                    <h5 class="card-title">@house.Name</h5>
                                    <p class="card-text text-primary">@Enum.GetName(typeof(HouseType), house.Type)</p>
                                    <p class="card-text text-success">@house.Price KZT</p>
                                    <a href="/Housing/Houses/id=@house.HouseId" class="btn btn-primary">Узнать больше</a>
                                </div>
                            </div>
                                            count++;
                                        }
                    </div>
                    <div class="tab-pane fade" id="livingplace" role="tabpanel" aria-labelledby="livingplace-tab">
                        <div class="card">
                            <h5 class="card-header">Место проживания</h5>
                            @{ 
                                var livingHouse = Model.HousingUser.House;
                                if (livingHouse != null)
                                {
                                    <div class="card-body">
                                        <h5 class="card-title">@livingHouse.Name</h5>
                                        <p class="card-text text-primary">@Enum.GetName(typeof(HouseType), livingHouse.Type)</p>
                                        <a href="/Housing/Houses/id=@livingHouse.HouseId" class="btn btn-primary">Узнать больше</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="card-body">
                                        <h1 class="text-danger display-4">Вы пока не имеете места жительства.</h1>
                                    </div>
                                }
                              }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="cart" role="tabpanel" aria-labelledby="cart-tab">
                        @{
                            count = 1;
                            foreach (var cartHouse in Model.CartHouses)
                            {
                                <div class="card">
                                    <h5 class="card-header">@count</h5>
                                    <div class="card-body">
                                        <form style="text-align: right;" method="post" action="/CartHouse/ownerId=@cartHouse.OwnerId/houseId=@cartHouse.HouseId/delete">
                                            <button type="submit" class="btn btn-outline-danger"><i style="font-size: 30px;" class="fa">&#xf014;</i></button>
                                        </form>
                                        <h5 class="card-title">@cartHouse.House.Name</h5>
                                        <p class="card-text text-primary">@Enum.GetName(typeof(HouseType), cartHouse.House.Type)</p>
                                        <p class="card-text text-success">@cartHouse.House.Price KZT</p>
                                        <a href="/Housing/Houses/id=@cartHouse.HouseId" class="btn btn-primary">Узнать больше</a>
                                    </div>
                                </div>
                                count++;
                            }
                        }
                    </div>
                    <div class="tab-pane fade" id="ownerRequests" role="tabpanel" aria-labelledby="ownerRequests-tab">
                        <h3 class="text-danger">@ViewBag.RequestDeleteError</h3>
                        @{
                            count = 1;
                            foreach (var request in Model.OwnerRequests)
                            {
                                <div class="card">
                                    <h5 class="card-header">@count</h5>
                                    <div class="card-body">
                                        @{ if (request.IsApplied)
                                            {
                                                <p class="text-success">Одобрен</p>
                                            }
                                            else
                                            {
                                                <p class="text-secondary">В процессе рассмотрения</p>
                                            }
                                        }
                                        <form style="text-align: right;" method="post" action="/HousingOwnerRequests/ownerId=@Model.Id/houseId=@request.HouseId/deletefromaction">
                                            <button type="submit" class="btn btn-outline-danger"><i style="font-size: 30px;" class="fa">&#xf014;</i></button>
                                        </form>
                                        <h5 class="card-title">@request.House.Name</h5>
                                        <p class="lead">@request.ExtraInfo</p>
                                    </div>
                                </div>
                                count++;
                            }
                        }
                    </div>
                    <div class="tab-pane fade" id="residentRequests" role="tabpanel" aria-labelledby="residentRequests-tab">
                        <h3 class="text-danger">@ViewBag.RequestDeleteError</h3>
                        @{
                            count = 1;
                            foreach (var request in Model.HousingUser.ResidentRequests)
                            {
                                <div class="card">
                                    <h5 class="card-header">@count</h5>
                                    <div class="card-body">
                                        @{ if (request.IsApplied)
                                            {
                                                <p class="text-success">Одобрен</p>
                                            }
                                            else
                                            {
                                                <p class="text-secondary">В процессе рассмотрения</p>
                                            }
                                        }
                                        <form style="text-align: right;" method="post" action="/HousingResidentRequests/residentId=@Model.Id/houseId=@request.HouseId/deletefromaction">
                                            <button type="submit" class="btn btn-outline-danger"><i style="font-size: 30px;" class="fa">&#xf014;</i></button>
                                        </form>
                                        <h5 class="card-title">@request.House.Name</h5>
                                        <p class="lead">@request.ExtraInfo</p>
                                    </div>
                                </div>
                                count++;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
</div>