@model HouseDto
<form class="container-fluid" method="post" asp-controller="Housing" asp-action="AddHouse">
    <div class="form-group badge badge-danger">@ViewBag.ErrorMessage</div>
    <h1 class="form-group display-4" style="text-align: center;">Добавление недвижимости</h1>
    <div class="form-group">
        <label for="houseName">Название недвижимости</label>
        <input asp-for="@Model.Name" type="text" class="form-control" id="houseName">
    </div>
    <div class="form-group">
        <label for="houseName">Название улицы</label>
        <input asp-for="@Model.Street" type="text" class="form-control" id="streetName">
    </div>
    <div class="form-group">
        <label for="houseType">Тип недвижимости</label>
        <select asp-for="@Model.Type" asp-items="@new SelectList(Enum.GetNames(typeof(HouseType)))" multiple class="form-control" id="houseType">
        </select>
    </div>
    <div class="form-group">
        <label for="houseInfo">Информация о недвижимости</label>
        <textarea asp-for="@Model.Info" class="form-control" id="houseInfo" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="houseName">Цена за недвижимость</label>
        <input asp-for="@Model.Price" type="number" min="0" class="form-control" id="housePrice">
    </div>
    <div class="form-group" style="text-align: right;">
        <button type="submit" class="btn btn-lg btn-primary">Опубликовать</button>
    </div>
</form>